---
import LinkButton from "@components/LinkButton.astro";
const { activeNav } = Astro.props;
---

<LinkButton
  href="/archives/"
  className={`focus-outline flex justify-center p-3 sm:p-1`}
  ariaLabel="archives"
  title="Archives"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class:list={[
      "icon icon-tabler icons-tabler-outline !hidden sm:!inline-block",
      activeNav === "archives" && "!stroke-skin-accent",
    ]}
  >
    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
    <path
      d="M3 4m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v0a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z"
    ></path>
    <path d="M5 8v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-10"></path>
    <path d="M10 12l4 0"></path>
  </svg>
  <span
    class:list={[
      "font-medium sm:sr-only",
      activeNav === "archives" && "active",
    ]}
  >
    Archives
  </span>
</LinkButton>
