---
import LinkButton from "@components/LinkButton.astro";
import Archives from "@assets/icons/archives.svg";
const { activeNav } = Astro.props;
---

<LinkButton
  href="/archives/"
  className={`focus-outline flex justify-center p-3 sm:p-1`}
  ariaLabel="archives"
  title="Archives"
>
  <Archives
    class:list={[
      "icon icon-tabler icons-tabler-outline !hidden sm:!inline-block",
      activeNav === "archives" && "!stroke-skin-accent",
    ]}
  />
  <span
    class:list={[
      "font-medium sm:sr-only",
      activeNav === "archives" && "active",
    ]}
  >
    Archives
  </span>
</LinkButton>
