---
import Moon from "@assets/icons/moon.svg";
import Sun from "@assets/icons/sun.svg";
---

<button
  id="theme-btn"
  class="focus-outline"
  title="Toggles light & dark"
  aria-label="auto"
  aria-live="polite"
>
  <Moon id="moon-svg" />
  <Sun id="sun-svg" />
  <style>
    svg {
      @apply inline-block h-6 w-6 !fill-skin-base group-hover:fill-skin-accent;
    }
    #theme-btn {
      @apply p-3 sm:p-1;
    }
    #theme-btn svg {
      @apply scale-125 hover:rotate-12 hover:fill-skin-accent sm:scale-100;
    }
  </style>
</button>
