---
import Menu from "@assets/icons/menu.svg";
---

<button
  class="hamburger-menu focus-outline"
  aria-label="Open Menu"
  aria-expanded="false"
  aria-controls="menu-items"
>
  <Menu class="menu-icon" />
</button>

<style>
  svg {
    @apply inline-block h-6 w-6 fill-skin-base group-hover:fill-skin-accent;
  }
  .hamburger-menu svg {
    @apply h-6 w-6 scale-125 fill-skin-base;
  }
  .hamburger-menu {
    @apply self-end p-2 sm:hidden;
  }
</style>
