---
import Search from "@assets/icons/search.svg";
import LinkButton from "@components/LinkButton.astro";
const { activeNav } = Astro.props;
---

<LinkButton
  href="/search/"
  className={`focus-outline p-3 sm:p-1 ${activeNav === "search" ? "active !fill-skin-accent" : ""} flex`}
  ariaLabel="search"
  title="Search"
>
  <Search class="scale-125 sm:scale-100" />
  <span class="sr-only">Search</span>
</LinkButton>

<style>
  svg {
    @apply inline-block h-6 w-6 fill-skin-base group-hover:fill-skin-accent;
  }
  a.active svg {
    @apply fill-skin-accent;
  }
</style>
