---
import Allpost from "@assets/icons/allpost.svg";
import LinkButton from "../LinkButton.astro";
---

<div class="all-posts-btn-wrapper">
  <LinkButton href="/posts/">
    All Posts
    <Allpost />
  </LinkButton>
</div>

<style>
  svg {
    @apply !inline-block h-6 w-6 fill-skin-base group-hover:fill-skin-accent;
  }
  .all-posts-btn-wrapper {
    @apply my-8 text-center;
  }
</style>
