---
import RssIcon from "@assets/icons/rss.svg";
---

<a
  target="_blank"
  href="/rss.xml"
  class="rss-link"
  aria-label="rss feed"
  title="RSS Feed"
>
  <RssIcon class="rss-icon" />
</a>

<style>
  svg {
    @apply inline-block h-6 w-6 fill-skin-base group-hover:fill-skin-accent;
  }
  .rss-link {
    @apply mb-6;
  }
  .rss-icon {
    @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
  }
</style>
