---
import { Image } from "astro:assets";
import avtar from "../assets/image/04second2.jpg";
import AboutLayout from "../layouts/AboutLayout.astro";
const aboutProps = {
  frontmatter: {
    title: `关于`,
  },
};
---

<AboutLayout {...aboutProps}>
  <h3>云楼汐</h3>

  <Image
    src={avtar}
    alt="avatar"
    width={601}
    height={601}
    loading={"eager"}
    layout="responsive"
    class="float-none m-auto block w-[180px] sm:float-right sm:m-[5px]"
  />

  <h4>大学三年级，热爱游戏，音乐...</h4>

  <ul>
    <li>
      光电信息专业，对计算机很有兴趣，会在<a
        href="https://t.me/aldric_li"
        target="_blank"
      >telegram</a>上活跃！
    </li>
    <li>这是我第三次搭建博客，单纯是为了折腾一下Astro，这玩意很有趣。</li>
    <li>未完待续......</li>
  </ul>
</AboutLayout>
