---
import Footer from "@components/Footer.astro";
import Header from "@components/Header/Header.astro";
import Hr from "@components/Hr.astro";
import AllPost from "@components/Main/AllPost.astro";
import Post from "@components/Main/Post.astro";
import Rss from "@components/Main/Rss.astro";
import Socials from "@components/Socials.astro";
import { SOCIALS } from "@config";
import Layout from "@layouts/Layout.astro";
import getSortedPosts from "@utils/getSortedPosts";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

const posts = await getCollection("blog");

const sortedPosts = getSortedPosts(posts);
const socialCount = SOCIALS.filter(social => social.active).length;
---

<Layout>
  <Header />
  <main id="main-content">
    <section id="hero">
      <h1>云楼汐</h1>
      <Rss />
      <p>"Hinc itur ad astra"</p>
      <p>"我们自此通往繁星"</p>
      <p>Algorithm, Computer and Math</p>
      <Image
        src="/front.svg"
        alt="frontpic"
        width={300}
        height={300}
        loading={"eager"}
        fetchpriority={"high"}
      />
      {
        // only display if at least one social link is enabled
          socialCount > 0 && (
          <div class="social-wrapper">
            <div class="social-links">Social Links:</div>
            <Socials />
          </div>
        )
      }
    </section>
    <Hr />
    <Post featured={true} sortedPosts={sortedPosts} />
    <Post featured={false} sortedPosts={sortedPosts} />
    <AllPost />
  </main>
  <Footer />
</Layout>

<style>
  /* ===== Hero Section ===== */
  #hero {
    @apply pb-6 pt-8;
  }
  #hero h1 {
    @apply my-4 inline-block text-3xl font-bold sm:my-8 sm:text-5xl;
  }
  #hero p {
    @apply my-2;
  }
  .social-wrapper {
    @apply mt-4 flex flex-col sm:flex-row sm:items-center;
  }
  .social-links {
    @apply mb-1 mr-2 whitespace-nowrap sm:mb-0;
  }
</style>
