---
export interface Props {
  source?: string;
}

import Hr from "./Hr.astro";
import { Icon } from "astro-icon/components";

const currentYear = new Date().getFullYear();

export interface Props {
  noMarginTop?: boolean;
}

const { noMarginTop = false } = Astro.props;
---

<footer class={`${noMarginTop ? "" : "mt-auto"}`}>
  <Hr noPadding />
  <div class="footer-wrapper">
    <div data-build={Date.now()}>
      Built with <a href="https://astro.build/"
        ><span class="icon"><Icon name="simple-icons:astro" /></span>{
          Astro.generator
        }</a
      >
    </div>

    <div class="text-gray-base">
      <span class="icon">
        <Icon name="noscript" />
      </span>
      This page has no JavaScript.
    </div>

    <div>
      <span
        >Copyright by <a href="https://github.com/parsifa1"> Parsifa1</a> &#169;
        {currentYear}</span
      >
    </div>
  </div>

  <style>
    div {
      @apply font-code text-gray-base text-ft;
    }
    a {
      @apply text-skin-base text-ft;
    }
    svg {
      @apply inline-block h-6 w-6 fill-skin-base group-hover:fill-skin-accent;
    }
    footer {
      @apply w-full;
    }
    .github {
      @apply italic;
    }
    .footer-wrapper {
      @apply flex flex-col items-center justify-between gap-y-1.5 py-12 sm:flex-col-reverse sm:py-4;
    }
    .link-button {
      @apply my-1 p-2 hover:rotate-6;
    }
    .link-button svg {
      @apply scale-125;
    }
    .icon svg {
      @apply inline-block scale-75;
    }
    .separator {
      @apply hidden sm:inline;
    }
  </style>
</footer>
