---
import { SOCIALS } from "@config";
import LinkButton from "./LinkButton.astro";
import { Icon } from "astro-icon/components";

export interface Props {
  centered?: boolean;
}

const { centered = false } = Astro.props;
---

<div class={`social-icons ${centered ? "flex" : ""}`}>
  {
    SOCIALS.filter(social => social.active).map(social => (
      <LinkButton
        href={social.href}
        className="link-button"
        title={social.linkTitle}
      >
        <Icon name={`simple-icons:${social.name.toLowerCase()}`} />
        <span class="sr-only">{social.linkTitle}</span>
      </LinkButton>
    ))
  }
</div>

<style>
  .social-icons {
    @apply flex-wrap justify-center gap-10;
  }
  .link-button {
    @apply p-2 hover:rotate-6 sm:p-2;
  }
  [data-icon] {
    @apply translate-y-[3px] scale-150;
  }
</style>
