---
export interface Props {
  tag: string;
  size?: "sm" | "lg";
}

const { tag, size = "sm" } = Astro.props;
import TagIcon from "@assets/icons/tag.svg";
---

<li class={`inline-block ${size === "sm" ? "my-1 underline-offset-4" : "my-3 mx-1 underline-offset-8"}`}>
  <a
    href={`/tags/${tag}/`}
    transition:name={tag}
    class={`${size === "sm" ? "text-sm" : "text-lg"} pr-2 group`}
  >
    <TagIcon
      class={`${
        size === "sm" ? " scale-75" : "scale-110"
      } inline-block h-6 w-6 fill-skin-base group-hover:fill-skin-accent`}
    />
    &nbsp;<span>{tag}</span>
  </a>
</li>

<style>
  a {
    @apply relative !underline !decoration-dashed hover:-top-0.5 hover:text-skin-accent focus-visible:p-1;
  }
  a svg {
    @apply -mr-5 h-6 w-6 scale-95 text-skin-base opacity-80 group-hover:fill-skin-accent;
  }
  span {
    @apply font-sans;
  }
  .scale-75 {
    @apply fill-skin-base;
  }
  .scale-110 {
    @apply fill-skin-base;
  }
</style>
