name: Deploy Astro site to Cloudflare Workers

on:
  push:
    branches: ["master"]
  workflow_dispatch:

permissions:
  contents: read
  deployments: write

concurrency:
  group: "deploy"
  cancel-in-progress: false

jobs:
  deploy:
    name: Build & Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: "9"

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: pnpm

      - name: Install dependencies
        run: pnpm i --frozen-lockfile

      - name: Install noto-cjk
        run: sudo apt-get install -y fonts-noto-cjk

      - name: Build with Astro
        run: pnpm astro build

      - name: Deploy to Cloudflare Workers
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          wranglerVersion: "4.65.0"
